/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter.woff2') format('woff2'); /* Path relative to CSS file */
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2');
  }